<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Tom's logblog</title>
    <link rel="stylesheet" href="/assets/fontawesome/css/all.css">
    <link rel="stylesheet" href="/assets/css/index.css">
  </head>
  <body>
    <header>
        <nav>

            <a href="/" class="nav-icon" aria-label="visit homepage" aria-current="page">
              <span>Tom's logblog</span>
            </a>
      
            <div class="main-navlinks">
              <button class="hamburger" type="button" aria-label="Toggle navigation" aria-expanded="false">
                <span></span>
                <span></span>
                <span></span>
              </button>
              <div class="navlinks-container">
                <a href="/" aria-current="page">Home</a>
                <a href="#">About</a>
                <a href="/posts.html">Posts</a>
              </div>
            </div>
      
            <div class="nav-authentication">
              <a href="#" class="search-btn" aria-label="Search">
                <i class="fa-solid fa-magnifying-glass"></i>
              </a>
              <div class="network-btns">
                <a href="https://twitter.com/tom_theret"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://twitter.com/tom_theret"><i class="fa-brands fa-github"></i></a>
              </div>
            </div>
          </nav>
          <script src="/assets/script/script.js"></script>
    </header>
    <main>
    {{ content }}
    </main>
    <footer>
        <p>©2022 Tom Theret | Designed in France with <span>♥</span></p>
    </footer>
  </body>
</html>